$color-white: #ffffff
$color-dark: #13151D
$color-black: #000000
$color-gray: #A6A6A6
$color-light-gray: #DBDBDB
$color-alt-light-gray: #F7F7F7
$color-crimson-pink: #C30044
$color-razzmatazz: #CF3269
$color-american-pink: #FF9494
$color-ocean-green: #1CBE8E
$color-deep-blue: #0051FF
$color-dark-blue: #13151D

$font-size-xs: 0.75rem // 12px
$font-size-sm: 0.875rem // 14px
$font-size-base: 1rem // 16px
$font-size-lg: 1.125rem // 18px
$font-size-xl: 1.25rem // 20px
$font-size-2xl: 1.5rem // 24px
$font-size-3xl: 2rem // 32px
$font-size-4xl: 2.5rem // 40px
$font-size-5xl: 3rem // 48px
